body
{
	background-color: black;
}

#search-result
{
	color: white;
}

h1
{
	color: white;
	text-align: center;
}

span
{
	color: white;
}

div
{
	color: white;
}

#speech
{
	font-size: 1.875em;
}

#songName, #songArtist
{
	width: 20%;
	font-size: 150%;
	font-style: bold;
}
